

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.btn-secondary {
    background-color: var(--color-text-soft);
    color: var(--color-bg)
}

.btn-danger {
    background-color: var(--color-danger);
    color: var(--color-bg)
}
